@font-face {
  font-family: "Noe Display";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Noe Display"), local("NoeDisplay-Regular"), url("../fonts/noe-display-regular.woff2") format("woff2"), url("../fonts/noe-display-regular.woff") format("woff");
}
.shadow {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
}

body {
  font-size: 1.375rem;
  line-height: 1.6;
  background: #FFF;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #373a3c;
}
body h1, body h2 {
  font-family: "Noe Display", "Times New Roman", Georgia, Times, serif;
  margin-bottom: 8px;
  text-rendering: optimizeLegibility;
}
body h1 {
  font-size: 2.5rem;
  margin: 0;
  line-height: 1;
  padding: 2rem 0;
}
@media (min-width: 670px) {
  body h1 {
    font-size: 5rem;
    letter-spacing: -2px;
    text-align: center;
    padding: 4rem 0;
  }
}
body h2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 1.5em;
  margin-bottom: 12px;
}
@media (max-width: 670px) {
  body h2 {
    font-size: 2rem;
  }
}
body p {
  margin-top: 0;
  line-height: 1.6;
}
@media (max-width: 670px) {
  body {
    font-size: 1rem;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-height: 100vh;
  position: relative;
}

.header {
  font-size: 25px;
  font-weight: 700;
  padding: 1rem 0;
}
.header a {
  box-shadow: none;
  border-bottom: none;
  text-decoration: none;
}
.header a:hover, .header a:focus {
  color: #0433FF;
  box-shadow: none;
  border-bottom-color: none;
  outline: 0;
}

.layout .main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.container .body-content {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 4rem;
}
@media (min-width: 940px) {
  .container .body-content {
    max-width: 540px;
  }
}
.container .body-content a {
  color: #0433FF;
  text-decoration: none;
  box-shadow: inset 0 -2px 0 0 currentColor;
  border-bottom: 1px solid currentColor;
}
.container .body-content a:hover, .container .body-content a:focus {
  color: #fff;
  box-shadow: inset 0 -1.25em 0 0 #0433FF;
  border-bottom-color: #0433FF;
  outline: 0;
}
.container .intro {
  margin-bottom: 2rem;
}
@media only screen and (min-width: 940px) {
  .container .intro {
    display: flex;
    align-items: center;
    margin: 0 calc(50% - 50vw) 3rem;
  }
}
.container .intro .about-intro {
  max-width: 54rem;
}
@media only screen and (min-width: 940px) {
  .container .intro .about-intro {
    flex: 1 1 60%;
    padding: 2rem 3rem;
  }
}
.container .intro .about-intro p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5em;
}
@media (min-width: 670px) {
  .container .intro .about-intro p {
    font-size: 2rem;
  }
}
.container .intro .img-container {
  position: relative;
  display: block;
  padding-bottom: 75%;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 940px) {
  .container .intro .img-container {
    width: 40%;
    padding-bottom: 450px;
    margin: 0;
  }
}
.container .intro .img-container img {
  object-position: 0 -10%;
  background-position: left center;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.container ul {
  list-style-position: outside;
  padding-left: 1em;
}
.container ul li {
  margin-bottom: 0.25em;
}

footer.footer {
  flex: none;
  font-size: 0.875rem;
  padding: 2rem 0;
  border-top: 1px solid #eceeef;
}
footer.footer .footer__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 670px) {
  footer.footer .footer__inner {
    flex-wrap: nowrap;
  }
}
footer.footer .footer__inner .footer__item {
  flex-basis: 50%;
  margin-bottom: 0.5rem;
}
@media (min-width: 670px) {
  footer.footer .footer__inner .footer__item {
    flex: 0 0 auto;
    padding-right: 2.5rem;
    margin: 0;
  }
}
@media (min-width: 940px) {
  footer.footer .footer__inner .footer__item {
    padding-right: 4rem;
  }
}
footer.footer .footer__inner .footer__item a {
  color: #373a3c;
  text-decoration: underline;
}
footer.footer .footer__inner .footer__item a:hover, footer.footer .footer__inner .footer__item a:focus {
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
